body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.Calculator {
    
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 20px;
    border-radius: 5%;
    box-shadow: 10px 10px lightgray;

}
.display {
    width: 250px;
    height: 30px;
    padding: 10px;

    background-color: #f1e8e6;
    display: flex;
    justify-content: flex-end;
}
button {
    height: 60px;
    width: 60px;
    font-weight: bold;
    border-radius: 7%;

}

.keypad {
    width: 250px;
    display: flex;
    align-items: center;
    margin-right: 19px;
}
.grp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.sect1 {
    display: flex;
}
.nums {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
#number-0 {
    flex-grow: 1;
} 
.sect2 {
    display: flex;
    flex-direction: column;
}

/* button styles */
button {
    margin: 1px;
    border: none;
    color: black;
}
.nums button {
    background-color: #edd2cb;
}
.sect2 button {
    background-color: #f5487f;
}
.sect1 button {
    
    background-color: #f55951;
    
}